<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand" style="font-family: saucerFont; font-size: 40px; margin-top: 30px;">Pizza Republic</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <!--<ul class="nav navbar-nav">
        <li><a [routerLink]="['/pizza']">Pizza</a></li>
        <li><a [routerLink]="['/sides']">Sides</a></li>
        <li><a [routerLink]="['/drinks']">Drinks</a></li>
      </ul>-->

      <ul class="nav navbar-nav navbar-right">
        <li class="text-center">
          <a href="javascript:void">
            <b>For Delivery</b> <br/>
            <h4><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;0210-777-777</h4>
          </a>
        </li>
        <li>
          <a href="javascript:void">
            <b>Email Offers</b> <br/>
            <h4><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Sign-up</h4>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>