<div class="container">
  <app-header></app-header>


  <div class="row content">
    <br/><br/><br/><br/><br/>
    
    <div class="text-center">
      <p class="text-warning" class="menuHeader"> Our Menus</p>
      <h1> <a [routerLink]="['/pizza']" class="menuStyle">Pizza</a>&nbsp;&nbsp;
           <a [routerLink]="['/sides']" class="menuStyle">Sides</a>&nbsp;&nbsp;
           <a [routerLink]="['/drinks']" class="menuStyle">Drinks</a>
      </h1>
    </div>
    <br/>
    <router-outlet></router-outlet>
  </div>

  <br/>
  <hr>
  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p class="text-muted">Copyright &copy; Pizza Republic 2017 v1.0.0&nbsp;&nbsp;|&nbsp;&nbsp;Disclaimer: The following data and images are taken from Papa Johns website: <a href="http://papajohns.com.ph" style="text-decoration-line: none;" class="text-muted" target="_blank">http://papajohns.com.ph</a></p>
      </div>
    </div>
  </footer>
</div>